gradio>=4.0
spaces
yt-dlp
torch>=2.5.1
numpy==2.2.6
nilearn
matplotlib
nibabel
scipy
pyvista
scikit-image
mne
huggingface_hub
gtts
langdetect
spacy
soundfile
moviepy>=2.2.1
transformers
einops
pyyaml
